@use "ideativa_variables.module" as *;

@use "bulma/sass" with (
    $link: $elite_blue,
    $warning: $sandy_brown,
    $family-primary: $firaSans,
);

@use "ideativa_hero";
@use "ideativa_aboutus";
@use "ideativa_contact";
@use "ideativa_proccess";
@use "ideativa_services";
@use "ideativa_footer";
