@use "ideativa_variables.module" as *;

.about-us {
    @media only screen and (max-width: 768px) {
        background-color: $white;
    }

    background-color: $white_smoke;

    p {
        font-family: $firaSans;
        font-weight: 400;
        font-size: 18px;
        text-align: center !important;
        color: $pantone_up;
        margin-bottom: 50px;
    }

    .title {
        @media only screen and (width < 640) {
            font-size: 50px;
        }
        @media only screen and (width < 768px) {
            font-size: 60px;
        }

        @media only screen and (width >= 768px) {
            font-size: 70px;
        }

        font-family: $firaSans;
        font-weight: 700;
        text-transform: uppercase;
        color: $sandy_brown;
        text-align: center;
    }

    .div-39 {
        @media only screen and (max-width: 768px) {
            margin: 32px auto;
        }

        @media only screen and (width > 768px) {
            margin: 0 auto;
        }

        max-width: 280px;
        padding: 20px;
        border-radius: 12px;
        background-color: $white;

        .svg {
            width: 64px;
            height: 64px;
            display: flex;
            border-radius: 32px;
            align-items: center;
            justify-content: center;
            margin-bottom: 24px;
            background-color: rgb($sandy_brown, 0.2);
        }

        .subtitle {
            @media only screen and (width < 640) {
                font-size: 12px;
            }

            @media only screen and (width >= 640px) {
                font-size: 22px;
            }

            font-family: $firaSans;
            font-weight: 700;
            text-align: left;
            vertical-align: middle;
            color: $elite_blue;
            text-transform: capitalize;
        }

        .content {
            font-family: $firaSans;
            font-weight: 400;
            font-size: 14px;
            text-align: left;
            align-content: start;
            color: $pantone_up;
        }
    }

    .div-80 {
        margin-top: 80px;

        .subtitle {
            font-family: $firaSans;
            font-weight: 700;
            font-size: 22px;
            vertical-align: middle;
            color: $elite_blue;
            margin-bottom: 50px;
            text-transform: capitalize;
        }

        .paragraph {
            font-family: $firaSans;
            font-weight: 400;
            font-size: 16px;
            color: $pantone_up;
        }

        .meeting {
            color: $white;
            font-size: 18px;
            font-weight: 700;
            margin-top: 100px;
            font-family: $firaSans;
            border-radius: 12px;
        }

        .img-meeting {
            max-width: 536px;

            img {
                border-radius: 12px;
            }
        }
    }
}
